[general]
log_level = info
measure = true
periodical = true

[schedule]
minutes = *
hours = 1
dayOfMonth = *

[graph]
width = 600
height = 200

[graph_upload]
enable = true
url =
user =
password =

[server]
enable = true
port = 80
# use 'plotly' or 'rrd-tool'
default = plotly

[download]
min = 600
max = 1000
color = 33CC00

[upload]
min = 15
max = 50
color = CC0033

[ping]
min = 20
max = 200
color = 0033CC
